body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2c3e50, #642e95); /* Dark purple gradient */
    color: #fff; /* White text color for better contrast */
  }
  
  .date-container {
    display: flex;
    width: 80vw; /* Use viewport width for responsive sizing */
    max-width: 340px; /* Maximum size */
    height: 40vw; /* Maintain aspect ratio */
    max-height: 220px; /* Maximum height */
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4); /* Optional: adds shadow for depth */
    font-size: 4vw; /* Responsive font size */
    line-height: 1.2;
    
    
  }
  
  .date, .month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
  }
  
  .date {
    background-color: white;
    color: black;
    font-size: 24px;
    width: 60%;
    
  }
  
  .month {
    background-color: #FF451B;
    font-size: 24px;
    font-weight: 400;
    width: 40%;

  }

  #day-number {
    font-size: 60px;
    font-weight: 600;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .date-container {
      font-size: 6vw; /* Larger font size on small screens */
    }
  }
  
  @media (min-width: 601px) {
    .date-container {
      font-size: 3vw; /* Smaller font size on larger screens */
    }
  }
  