* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #250057;
}

.input-box {
    background: #fff;
    width: 90%;
    max-width: 40rem;
    border-radius: 0.2rem;
    padding: 1.5rem;
    margin: 22rem auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        margin: 10rem auto;
    }
}

.input-box input {
    width: 100%;
    padding: 0.2rem, 0;
    border: none;
    outline: none;
    font-size: 20px;
    color: #555;
}