* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle, rgb(1, 23, 48) 0%, rgb(1, 62, 75) 100%);
    color: #fff;
}

.container {
    margin: 12%;
    max-width: 80%;
}

.display {
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    position: relative;
}

/* Responsive adjustments */

@media (max-width: 768px) { /* Adjusts for tablets and smaller devices */
    .container {
        margin: 5%;
        max-width: 90%;
    }

    .display {
        flex-direction: row;
        padding: 15px 10px;
    }

}

@media (max-width: 480px) { /* Adjusts for mobile phones */
    .container {
        margin: 2%;
        max-width: 96%;
    }

    .display {
        margin-top: 30px;
        margin-bottom: 20px;
    }

}


.container h1 {
    font-weight: 500;
    font-size: 40px;

}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 5px;
}

.display i {
    color: #019f55;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button i {
    margin-right: 10px;
}

.container button {
    border: 0;
    bottom: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 26px;
    border-radius: 5px;
    cursor: pointer;

}

#hint {
    display: none;
    margin-top: 20px;
    font-size: 13px;
    color: #fff;
    font-weight: 100;

}